* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.header {
  align-items: center;
  padding-top: 30px;
  display: flex;
  padding-right: 20px;
  padding-bottom: 75px;
}

.header-left {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
  width: 60%;
  align-items: center;
}

.header-left img {
  width: 80px;
  height: 30px;
}

.header-left input {
  padding-left: 60px;
  height: 45px;
  width: 60%;
  border: 2px solid #e8e8ea;
  border-radius: 10px;
  font-size: 18px;
}

.header-right {
  align-items: center;
  display: flex;
}

.header-right a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  border-radius: 3px;
  padding: 10px 15px;
  margin-right: 20px;
  border: 1px solid transparent;
  color: #0f1d40;
}

.header-right a:hover {
  border-color: black;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 15px;
  height: 60px;
  padding: 0 20px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  min-width: 175px;
}

.btn-purple {
  background: radial-gradient(
    232.93% 273.25% at -30.54% -121.49%,
    #0a0822 0%,
    #1b1351 10.77%,
    #4e2bc3 42.71%,
    #a15ee6 64.52%,
    #dba8db 100%
  );
  color: white;
}
.btn-transparent {
  background-color: transparent;
  color: #393939;
  border: none;
}

.section-1 {
  display: flex;
}

.content-texts-wrapper {
  width: 60%;
}

.content-texts-wrapper h1 {
  font-size: 90px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #0f1d40;
  margin-bottom: 15px;
  margin-top: 15px;
}

.content-texts-wrapper p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #49536e;
  margin-bottom: 40px;
}

.hero-image {
  width: 40%;
  padding-left: 60px;
}

.hero-image img {
  width: 100%;
}

.content-buttons {
  display: flex;
}

.content-buttons button:first-child {
  margin-right: 30px;
}

.play-icon {
  margin-right: 5px;
}

@media only screen and (max-width: 768px) {
  .header-right a,
  .header-left input {
    display: none;
  }

  .header {
    justify-content: space-between;
    padding-right: 0;
    padding: 20px;
  }

  .btn {
    padding: 0px 10px;
    height: 40px;
    font-size: 14px;
    min-width: auto;
  }

  .section-1 {
    flex-direction: column;
  }

  .content-texts-wrapper {
    width: 100%;
    order: 2;
  }

  .content-texts-wrapper h1 {
    font-size: 48px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
  }

  .content-texts-wrapper p {
    text-align: center;
    font-size: 16px;
  }

  .content-texts-wrapper br {
    display: none;
  }
  .content-buttons {
    justify-content: center;
  }

  .hero-image {
    padding: 30px;
    width: 100%;
  }
}
